@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Rubik', sans-serif;
    background-color: #000;
    color: #fff;
    line-height: 1.7;
    overflow-x: hidden;
}

a{
    color: #fff;
    text-decoration: none;
}
a:hover{
    color: #cccc;
}

ul{
    list-style-type: none;
}
h3{
    font-size: 24px;
    font-weight: 300;
}
h4{
    color: #00ed82;
    font-size: 14px;
    text-transform: uppercase;
}
.btn{
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.btn:hover{
    opacity: 0.8;
}
.get-all{
    background: none;
    color: #fff;
    border: 2px solid #fff;
}
.get-all:hover{
    color: #fff;
    border: 2px solid #cccc;
}

.header{
    height: 530px;
    background: url("https://images.pexels.com/photos/31158926/pexels-photo-31158926.jpeg") no-repeat center center / cover ;
}
.header nav {
    display: flex;
    justify-content: flex-end;
    padding: 20px 40px;
    position: relative;
    z-index: 2;
}
.header nav .login-btn {
    cursor: pointer;
    background: none;
    border: none;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.header.logo {
    width: 270px;
    margin: 20px 0;
}
.header .header-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
} 
.header .header-text-1 {
    font-size: 22px;
    font-weight: bold;
}
.header .header-text-2 {
    font-size: 18px;
    margin: 25px 0;
}
.header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 1;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0.5) 100%
    );
}

.small-text{
    font-size: 14px;
    color: #ccc;
    margin-top: 10px;
}
.sub-header {
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
    gap: 40px;
    align-items: center;
    padding: 30px 40px;
    background: linear-gradient(
        318.68deg,
        #0f495c 0%,
        #0d3640 49.72%,
        #08141f 100%
    );
}
.sub-link{
    display: block;
    color: #ccc;
    font-size: 12px;
    margin-top: 3px;
    text-decoration: underline;
    
}
.sub-header > div:last-of-type {
    justify-self: end;
    align-self: end;

}
.sub-header > div:last-of-type .sub-link {
    text-align: center;
}

/* categories */

.categories {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   padding: 90px 40px;
}
.text-all{
    font-size: 50px;
    font-weight: bold;
}
.sub-text{
    max-width: 850px;
    margin-bottom: 10px;
    font-size: 20px;
}
.categories .covers {
    display: grid;
    grid-template-columns: repeat(4,  1fr);
    gap: 20px;
    margin-top: 40px;
}
.categories .covers > div {
    height: 500px;
    width: 300px;
    position: relative;
}
.categories .cover-grad {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        156.82deg,
        rgba(0,0,0,0.6) 4.58%,
        rgba(0,0,0,0) 69.61%,
    ),
    linear-gradient(24.5deg, rgba(0,0,0,0.2) 4.71%,
    rgba(0,0,0,0) 71.49%);
}
.categories .cover-text {
    position: absolute;
    top: 20px;
    left: 20px;
    text-align: left;
}
.categories .cover-1 {
    background: url("https://cnbl-cdn.bamgrid.com/assets/1ec99371f77f5ae503b51dd6f05453184acf56feb4e474b0b2d5ea29b91883e4/original") no-repeat center center / cover;
}
.categories .cover-1 :hover {
    border: 4px solid #c8c2c2;
    padding: 4px;
    opacity: 0.8;
}
.categories .cover-2 {
    background: url("https://cnbl-cdn.bamgrid.com/assets/d7d0f056b4386699e6a5f4a2727f25baebc84c0329e919622fee46776892fa5d/original") no-repeat center center / cover;
}
.categories .cover-2 :hover {
    border: 4px solid #c8c2c2;
    padding: 4px;
}
.categories .cover-3 {
    background: url("https://cnbl-cdn.bamgrid.com/assets/62183f6d48d8844f3fb071c2b131cb1630c1753a770de1be7d076e2da787d455/original") no-repeat center center / cover;
}
.categories .cover-3 :hover {
    border: 4px solid #c8c2c2;
    padding: 4px;
}
.categories .cover-4 {
    background: url("https://cnbl-cdn.bamgrid.com/assets/5f2042653fa97c39c8cab0de73f649db75e20585a50472cdacd2787e417de5c8/original") no-repeat center center / cover;
}
.categories .cover-4 :hover {
    border: 4px solid #c8c2c2;
    padding: 4px;
}
.live {
    background: #151516;
    padding: 40px;
}

.live-border {
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.live a {
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 20px;
    text-decoration: underline;
}

.live .legal-text {
    margin-top: 20px;
    font-size: 10px;
}
.live .btn {
    background-color: #00ed82;
}
.live-sports {
    background: url("https://sportsnaut.com/wp-content/uploads/2022/04/Hulu-Sports2_Hulu-1-1024x544.jpeg") no-repeat center center / cover;
    height: 800px;
    position: relative;
    opacity: 0.8;
}
.live-sports-content {
    position: absolute;
    top: 160px;
    left: 100px;
    max-width: 550px;
}
.live-sports-logos {
    width: 400px;
    margin-top: 40px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.live-sports-logos > div {
    background: #fff;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
/* footer */

.footer {
    background: #ebedf2;
    color: #333;
}

.footer a {
    color: #333;
}

.footer-container {
    max-width: 1100px;
    margin: auto;
    padding: 40px;
}
.footer-lists {
    display: flex;
    justify-content: space-between;
}

.footer-lists .List-head {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
}
.divider {
    width: 100%;
    height: 3px;
    border-top: 1px #ccc solid;
    margin: 30px 0;
}
.social-icons i {
    width: 25px;
    height: 25px;
    margin-right: 25px;
}
/* modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.modal .close {
    cursor: pointer;
    height: 23px;
    width: 23px;
    position: absolute;
    top: 20px;
    right: 20px;
    opacity: 0.5;
}
.modal-box {
    margin: 10% auto;
    width: 400px;
    background: #fff;
    color: #333;
    position: relative;
    animation: modalopen 1s;
}
.modal-body {
    padding: 50px;
}
.modal-body h3 {
    color: #000;
    font-weight: bold;
}
.modal label {
    color: #000;
}
.modal a {
    color: #000;
}
.modal p {
    color: #000;
}
.modal p a {
    color: steelblue;
}
.btn-dark {
    background: #000;
    color: #fff;
}
.modal-body .btn {
    width: 100%;
    margin-top: 30px;
}
.modal .modal-footer {
    background: #f7f7f9;
    color: #333;
    padding: 20px 0;
    border-top: 1px #eee solid;
    text-align: center;
}
/* form */

.form-control {
    margin: 20px 0;
}
.form-control label {
    display: block;
    text-transform: uppercase;
}
.form-control input {
    width: 100%;
    border: 2px #ccc solid;
    border-radius: 5px;
    height: 50px;
    padding: 5px;
}
@keyframes modalopen {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 1100px) {
    .categories .covers {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 768px) {
    .header .logo {
        width: 200px;
    }

    .header .header-content {
        text-align: center;
        padding: 0 20px;
    }

    .header .header-text-1 {
        margin-bottom: 40px;
    }

    .header .header-text-2 {
        display: none;
    }

    .sub-header {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .sub-header img {
        width: 250px;
        margin: 0 auto;
    }
    .text-all {
        font-size: 40px;
        line-height: 1.3;
    }
    .sub-text {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .categories .covers {
        grid-template-columns: 1fr;
    }
    .live-border {
        padding: 50px;
    }
    .live-sports {
        background: url("https://wallpaperaccess.com/full/1417867.jpg") no-repeat center center / cover;}
    .live-sports-content {
        width: 300px;
        display: flex;
        flex-direction: column;
        right: 100px;
        margin-right: 20px;
     } 
    .live-sports-logos {
        width: 300px;   
    } 
    .footer-lists {
        flex-direction: column;
    } 
    .modal .modal-box {
        width: 300px;
    }
}
